<header>
    <div class="grid-x grid-margin-x header">
        <div class="cell small-12 medium-4 large-2">
            <a href="/" style="font-size: 20px; color: #0277bd;">
                La Familia's Blog
            </a>
        </div>
        <div class="cell small-12 medium-4">
            
        </div>
        <div class="cell small-12 large-5">
            <ul class="menu" style="justify-content: flex-end;">
                <li>
                    <a href="/">Home</a>
                </li>
                
                  
                    <li>{% if request.path != '/pages/quienes-somos-67802/' %}
                        <a href="../pages/quienes-somos-67802/">Nosotros</a>
                        {% else %} 
                        <a href="#">Nosotros</a>
                        {% endif %}
                    </li>
                
            
                <li>
                    <a href="{% url 'entrada_app:entry-list' %}">Blog</a>
                </li>
                <li>
                    {% if not user.is_anonymous %}
                        <a href="{% url 'favorites_app:profile' %}" class="warning button">{{user.full_name}} - Perfil</a>
                        <li>
                        <a href="{% url 'users_app:user-logout' %}" class="clear button secondary">
                            Cerrar Sesión
                        </a></li>
                    {% else %}
                        <a href="{% url 'users_app:user-login' %}" class="success button">Acceder</a>
                    {% endif %}
                </li>
                
            </ul>
        </div>
    </div>
</header>