{% extends "pages/base_pages.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}
{% include "includes/menu.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <!-- primer bloque pantalla blog -->
        <div class="cell small-12 large-8">

            <!-- bloque de buscador -->
            <form class="input-group" method="get">{% csrf_token %}
                <input class="input-group-field" type="text" id="kword" name="kword" placeholder="Buscar ...">
                <div class="input-group-button">
                  <input type="submit" class="button" value="Buscar">
                </div>
            </form>
            <!-- FIN bloque de formulario -->

            <!-- inicio bloque de resultados de busqueda -->
            <div class="grid-x grid-margin-x">
                
                {% for pagina in paginas %}
                <div class="cell small-6 large-12">
                    <div class="card" style="width: 100%;">
                        <div class="card-section">
                          <h4><a href="{% url 'pages_app:page-detail' pagina.slug %}">{{ pagina.title }}.</a></h4>
                          <p>{{ pagina.resume | truncatechars:155 | safe}}.</p>
                        </div>
                        {{ pagina.pagemodel.slug }}
                    </div>
                </div>
                {% empty %}
                <h3 style="color: blueviolet;">Sin resultados</h3>
                {% endfor %}
            </div>
            <!-- FIN bloque de resultados de busqueda -->

        </div>
        <!-- FIN primer bloque pantalla blog -->
    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}