{% extends "entrada/base_entrada.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}
{% include "includes/menu.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-10 large-10" style="margin-top: 2em;">
            <div class="card" style="width: 100%;">
                <div class="card-divider">
                  <h4>Cree una nueva publicación</h4>
                </div>
                <div class="card-section">
                    <form class="grid-x grid-margin-x" method="POST" > {% csrf_token %}
                        <div class="cell large-12">
                            <label>Título:
                            {{ form.title }}
                            </label>
                        </div><div class="cell large-12">
                            <label>Subítulo:
                            {{ form.sub_title }}
                            </label>
                        </div>
                        <div class="cell large-12">
                            <label>Resumen:
                            {{ form.resume }}
                            </label>
                        </div>
                        <div class="cell medium-12">
                            <label>Contenido:
                            {{ form.content }}
                            </label>
                        </div>
                        <div class="cell medium-6">
                            <label>Categoría:
                            {{ form.category }}
                            </label>
                        </div>
                        <div class="cell medium-6">
                            <label>Etiqueta:
                            {{ form.tag }}
                            </label>
                        </div>
                        <div class="cell medium-6">
                            <label>Público:
                            {{ form.public }}
                            </label>
                        </div>
                        <div class="cell medium-6">
                            <label>Portada:
                            {{ form.portada }}
                            </label>
                        </div>
                        <div class="cell medium-6">
                            <label>Home:
                            {{ form.in_home }}
                            </label>
                        </div>
                        <button type="submit" class="cell hollow button primary">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}